/* Berisi CSS Modifikasi dari CSS AdminLTE */

/* Modifikasi Check list dengan Tombol Botton */
.btn-info.active,
	.btn-info.active:focus,
	.btn-info.active:hover,
	.open > .dropdown-toggle.btn-info.focus,
	.open > .dropdown-toggle.btn-info:hover
	{
		color: #fff;
		background-color: #1788aa;
		border-color: #1b6d85;
	}

/* Modifikasi warna dan background Navigator Active */
.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover
{
    background-color: #33B77B;
    color:#fff;
    border-top: 0;
    border-left-color: #1f2427;
}

/* Modifikasi input group */
.input-group .form-control, .input-group-addon, .input-group-btn
{
	display: table-cell;
}
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn
{
	height: 25px;
	padding: 5px 10px;
	font-size: 11px;
	line-height: 1.2;
	border-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.input-group .form-control
{
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}
.btn-group-sm > .btn, .btn-sm
{
	line-height: 1.2;
}
.btn-social.btn-sm > :first-child
{
	line-height: 25px;
	width: 28px;
	font-size: 1.4em;
}

/* Modifikasi size gambar mini */
.user-panel > .image2 > img
{
	width: auto;
	max-width: 45px;
	height: auto;
}

/* Modifikasi margin antar button */
.btn-margin
{
	margin: 0px 5px 5px 0px;
}

/* Modifikasi Sidabar menu */
.main-sidebar
{
	width: 270px;
}
.main-header .navbar
{
	margin-left: 270px;
}
.main-header .logo
{
	width: 270px;
}
.content-wrapper, .main-footer
{
	margin-left: 270px;
}
.user-panel
{
	padding: 5px 0px 0px 0px;
}
.user-panel > .info
{
	font-size: 12px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header
{
	white-space: normal;
}
.treeview-menu > li > a
{
	font-size: 13px;
}
.sidebar-menu > li > a
{
	padding: 10px 5px 10px 15px;
}
.sidebar-menu li > a > .pull-right-container
{
	margin-top: -7px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span
{
	padding: 14px 5px 12px 20px;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > .pull-right-container
{

	width: auto !important;
	left: 210px !important;
	top: -15px !important;
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu
{
	width: 210px;
}
@media (max-width:767px)
{
	.main-sidebar
	{
    -webkit-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
	}
	.main-header .logo, .main-header .navbar
	{
		width: 100%;
	}
	.main-header .navbar
	{
    margin: 0;
	}
	.content-wrapper, .main-footer
	{
		margin-left: 0;
	}
}

/* Modifikasi Ukuran Huruf pada header box--- */
.content-header > h1
{
	font-size: 18px;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title
{
	font-size: 16px;
}
.small-box .icon
{
	top: 7px;
	font-size: 80px;
}

/* Modifikasi Tabel --- */
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td
{
	padding: 7px;
}

@media (max-width:480px)
{
	.selecta, .inputa
	{
		width:150px
	}
	.form-group
	{
    margin-bottom: 0px;
	}
	.leaflet-control-layers-expanded
	{
		display:none;
	}
	}
}
@media (max-width:767px)
{
	.selecta, .inputa
	{
		width:150px
	}
	.form-group {
    margin-bottom: 0px;
	}
}
/* Modifikasi Select2 --- */
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
	padding: 2px 12px;
    height: 25px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 22px;
}
.fa
{
	width: 13px;
}
input[type="checkbox"], input[type="radio"]
{
	margin: 2px 0 0;
}
.error {
	color: #dd4b39;
}
/* Modifikasi Header DataTables--- */
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td
{
  vertical-align: middle;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
	border-right-width: 1px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 0px;
}
.head-padding
{
	padding:5px;
}
/* Modifikasi Font Size Autocomplate */
.ui-widget-content {
	font-size: 11px;
}

/* Modifikasi Datepicker dan DateTimePicker*/
.bootstrap-datetimepicker-widget.dropdown-menu
{
	width: auto;
}
.datepicker table tr td:first-child + td + td + td + td + td, .datepicker table tr td:last-child
{
	color:red;
}
/* mengatur jarak atar isian yang berbeda group form*/
.jar_form
{
	margin-top: -6px;
}
/* mengatur Judul Sub Title*/
.subtitle_head
{
	padding:10px 50px 10px 5px;
	background-color: #a2f2ef;
	margin: 15px 0px 10px 0px;
	text-align:left;
	color: #111
}
.subtitle_head label
{
	margin-bottom: 0px;
}
/* Modifikasi template AdminLTE: menambah scrollbar pada bagian sidebar menu*/
.slimScrollBar
{
	background-color: white !important;
	opacity: 0.3 !important;
	width: 6px !important;
}
/* Supaya kolom tabel tidak wrap dan menggunakan spasi terkecil */
td.nostretch, th.nostretch{
  width:1%;
  white-space:nowrap;
}

/* Style untuk isian checkbox berkolom (input analisis, surat masuk) */
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline
{
		padding: 4px;
}
.panel-fullscreen
{
	display: block;	z-index: 999999; position: fixed;	width: 100%;
	height: 100%;	top: 0;	right: 0;	left: 0;bottom: 0;overflow: auto;
}
#op_item div
{
	margin:1px 0;
	background:#fafafa;
	border:1px solid #ddd;
}
#op_item input
{
	vertical-align:middle;
	margin:0px 2px;
}
#op_item label
{
	width: 100%;
	padding:4px 10px 0px 2px;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
}
table.head
{
	font-size:14px;
	font-weight:bold;
}
.atas {vertical-align: top;}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"]
{
position: inherit;
}
#op_item div
{
	margin:1px 0;
	background:#fafafa;
	border:1px solid #ddd;
}
#op_item input
{
	vertical-align:middle;
	margin:0px 2px;
}
#op_item label
{
	padding:4px 10px 0px 2px;
	font-size:11px;
	line-height:14px;
	font-weight:normal;
}
table.head
{
	font-size:14px;
	font-weight:bold;
}
.atas {vertical-align: top;}
.form-horizontal .control-label {
text-align: left;
}
img { margin-bottom: 5px; }
.no-padding { padding: 0px; }

/* Notif */
.badge {
  display: inline-block;
	min-width: 10px;
	padding: 4px;
	margin-left: 3px;
	font-size: 10px;
	font-weight: normal;
	margin-top: -11px;
	line-height: 0.5;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #ff0505;
	border-radius: 6px
}

/* Penduduk */
img.profile-user-img.penduduk
{
	width: auto;
	max-height: 250px;
	max-width: 200px;
}

/* Tabel umum */
td.bilangan, th.bilangan, td.no_urut
{
	text-align: center;
}

.kecil{font-size:.8em;color:#888;font-style:italic;font-weight:400;margin-bottom:.5em;}


